
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  background-color: rgb(130, 29, 130);
  color: pink;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
}

h1 {
  color: rgb(10, 29, 94);
  margin-bottom: 20px;
}

input[type="text"] {
  width: 250px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: rgb(10, 29, 94);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 40px;
}

button:hover {
  background-color: rgb(66, 66, 156);
}

.artist {
  font-weight: 600;
  color: white;
  font-size: 20px;
  margin-top: 20px;
 
}

h3{
    margin-top: 20px;
}

.song {
  font-style: italic;
  font-weight: 600;
  color: white;
  margin-top: 10px;
  font-size: 18px;
}

.lyrics {
  background-color: rgb(217, 191, 195);
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 15px;
  width: 60%;
  margin: 20px auto;
  text-align: center;
  line-height: 1.5;
  color: rgb(74, 69, 69);
  overflow-y: auto; /*ref: https://stackoverflow.com/questions/73737639/element-with-auto-height-overflowing-with-overflow-y-scroll*/
  max-height: 50vh; 
}


/* Responsiveness */
/* For tablets (768px) */
@media screen and (max-width: 768px) {
  input[type="text"] {
    width: 80%;
    font-size: 15px;
  }

  button {
    width: 70%;
    font-size: 15px;
  }

  .lyrics {
    width: 90%;
    font-size: 15px;
  }
}

/* For phones (480px) */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  input[type="text"] {
    width: 90%;
    font-size: 14px;
  }

  button {
    width: 85%;
    font-size: 14px;
    padding: 8px 15px;
  }

  .lyrics {
    width: 95%;
    font-size: 14px;
  }
}